body{
 background-color: #030307 !important;
 color: white;
}
body{
  padding: 0px;
  margin: 0px;
}
.btn{
  border: 1px solid gold;
  border-radius: 4px;
  color: goldenrod;
  padding: 9px 15px;
}
.btn:hover{
  border: 1px solid gold;
  border-radius: 4px;
  color: goldenrod;
  background-color: rgba(255, 217, 0, 0.086);
  transition: 1ms;
}
.navbar-brand{
    font-size: 1.4rem;   
    font-weight: bold; 
    color: white;
    font-family: cursive;
}
.navbar{
  border-bottom: 1px solid grey;
}

.custom-navbar{
    background-color: #030307 !important;
}
.custom-navbar .navbar-brand,
.custom-navbar .nav-link{
    color: #8b8989;
}

.custom-navbar .nav-link:hover{
    color: white;
}
.hero{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/8387330/pexels-photo-8387330.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  gap: 30px;
   border-bottom: 1px solid grey;
   padding: 50px;
}
.hero img{
    width: 100%;
    max-width: 500px;
    height: 370px;
    object-fit: contain;
    background: #111318;
    border-radius: 32px;
    margin: 90px 30px 0px 0px;
    border-radius: 90px;
    /* box-shadow: 2px 2px 6px rgba(255, 217, 0, 0.667); */


    
}
.img button{
  margin-top: 30px;
  background-color: gold;
  color: black;
  transition: 10ms;
}
.img button:hover{
  background-color: gold;
  transform: scale(1.1);
  color: black;
  transition: 10ms;

}
.hero .img{
  margin: 0px;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
}
body{
    font-family: "Space Grotesk", sans-serif;
}

.hero h2{
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -2px;
    color: white;
}
.quote{

  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: start;
}
.quote p{
  margin-top: 60px;
  border: 1px solid goldenrod;
  border-radius: 5px;
  color: rgb(243, 176, 8);
  padding: 8px;
  width: fit-content;
  background-color: rgba(228, 221, 178, 0.071);

}

/* .f2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 0px;
  background-color: aqua;
  width: min-content;
  margin: auto;
  border: 1px solid rgb(218, 194, 134);
  border-radius: 10px;
} */
 .f2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 50px 100px;
}
.f2 p{
  color: grey;
}
/* .card{
   background-color: #0a0a1a !important;
   color: white;
   border-radius: 0px;
   border: 0.1px solid rgba(221, 213, 166, 0.485);
  
} */
 .card{
    background:#0a0a1a !important;
    color:white;
    border:1px solid rgba(255,215,0,.2);
    border-radius:12px;
    overflow:hidden;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-6px);
    border-color:goldenrod;
}
.card img{
    width:100%;
    height:250px;
    object-fit:cover;
    transition:0.3s;
}

.card:hover img{
    transform:scale(1.05);
}


#cf1 ,#cf1 img{
  border-top-left-radius: 10px;
}
#cf3{
  border-top-right-radius: 10px;
}
#cf4{
  border-bottom-left-radius: 10px;
}
#cf6{
  border-bottom-right-radius: 10px;
}
.card img{
  border-radius: 0px;
}

.headf{
  margin: 70px;
  margin-left: 150px;
}

.headf h2{
  font-size: 70px;
  color: goldenrod;
}
.headf p{
  color: grey;
}
.card-body:hover{
  background-color: rgba(128, 128, 128, 0.143);
  transition: 50ms;
  color: white;
  
}

.cardsss{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3,1fr);
}
.con{
  margin-left: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.product-card{
  margin: auto;
  height: 550px;
  width: 400px;
  margin-bottom: 60px;
  border: 1px solid grey;
  border-radius: 30px;
  background-color: rgb(25, 25, 37);
}
.con p{
  color: grey;
}
.product-card img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius:30px ;
  border-top-right-radius:30px ;
}
hr{
  color: gold;
  margin: 50px;
}
.product-card:hover{
  border-color: goldenrod;
  transform:translateY(-8px);
    border-color:goldenrod;
  transition: 60ms;
  box-shadow: 4px 4px 8px grey;
}
.price{
  display: flex;
  justify-content: space-between;
}
.cnn{
  padding: 20px;
}
.cnn p{
  color: grey;
}
.ftr{
  
  display: flex;
  justify-content: space-between;
}
.box1{
  border: 1px solid rgba(69, 69, 68, 0.329);
  background-color: rgba(60, 60, 63, 0.222);
  color: rgba(228, 215, 144, 0.242);
  width: max-content;
  padding:5px;
  border-radius: 8px;
  margin-bottom: 5px;
}
.bn{
  
  display: flex;
  justify-content: space-between;
}
.price :nth-child(2){
  color: goldenrod;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bn button{
  padding: 8px 15px;
  border-style: none;
  border-radius: 8px;
  margin: 5px 0px;
  
}
#btn1{
  background-color: goldenrod;
  color: rgb(9, 9, 10);
}
#btn2{
   border: 1px solid rgba(69, 69, 68, 0.329);
  background-color: rgba(60, 60, 63, 0.222);
  color: rgba(246, 245, 243, 0.778);
  border-radius: 8px;


}
#btn2:hover{
  border-color: rgb(145, 144, 144);
}
#btn1:hover{
  transform: scale(1.01);
  box-shadow: 1px 1px 2px gold;
  transition: 10ms;

}
.cn h2{
  font-size: 70px;
}
.product{
  border-bottom: 2px solid grey;
}


.benefits{
    width:100%;
    padding:80px 8%;
   background-image: url("https://images.pexels.com/photos/8991520/pexels-photo-8991520.jpeg");
}

.benefithead{
    text-align:center;
    margin-bottom:60px;
}

.tag{
    width:180px;
    margin:auto;
    padding:10px;
    border:1px solid goldenrod;
    border-radius:30px;
    color:goldenrod;
    background:rgba(255,215,0,.08);
    margin-bottom:20px;
}

.benefithead h3{
    font-size:50px;
    color:#fff;
    font-weight:700;
}

.benefithead span{
    color:goldenrod;
}

.benefithead p{
    width:700px;
    max-width:90%;
    margin:20px auto;
    color:#a8a8a8;
    line-height:1.7;
}

.bcards{
    display:grid;
    grid-template-columns:320px 340px 320px;
    grid-template-rows:repeat(3,auto);
    justify-content:center;
    align-items:center;
    gap:30px;
}

.cardbenefit{
    background:rgba(255,255,255,.05);
    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,.1);
    border-radius:20px;
    padding:25px;
    min-height:190px;
    transition:.4s;
}

.cardbenefit:hover{
    transform:translateY(-8px);
    border-color:goldenrod;
}

.cardbenefit h3{
    color:#fff;
    margin-bottom:15px;
}

.cardbenefit p{
    color:#bdbdbd;
    line-height:1.6;
}

.img{
    grid-column:2;
    grid-row:1/3;
    display:flex;
    justify-content:center;
    align-items:center;
}

.img img{
    width:300px;
    height:430px;
    object-fit:contain;
    filter:drop-shadow(0 0 25px rgba(255,215,0,.25));
}

/* Left */

#c1{
    grid-column:1;
    grid-row:1;
}

#c3{
    grid-column:1;
    grid-row:2;
}

#c5{
    grid-column:1;
    grid-row:3;
}

/* Right */

#c2{
    grid-column:3;
    grid-row:1;
}

#c4{
    grid-column:3;
    grid-row:2;
}

#c6{
    grid-column:3;
    grid-row:3;
}

/* Bottom Center */

#c7{
    grid-column:2;
    grid-row:3;
    justify-self:center;
}
.comm{
  display: flex;
}
.commentcard{
  border: 1px solid grey;
  border-radius: 10px;
  /* margin: 10px 30px; */
  padding: 20px;
  margin-top: 30px;
  width: 400px;
  background-color: rgba(186, 186, 199, 0.085);
  margin: 30px auto;

}
.commentcard:hover{
  background-color: rgba(165, 165, 181, 0.058);
  transition: 10ms;
}
.commentcard p{
  color: grey;
}
.review{
  padding: 30px 90px;
}
.rhead{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.rhead h2{
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid goldenrod;
  color: goldenrod;
  background-color: rgba(228, 219, 163, 0.222);
  border-radius: 15px;
}
.rhead h3{
  color: rgb(232, 227, 227);
  font-family:'Times New Roman', Times, serif;
  font-size: 60px;
}
.commentdetail img{
  height: 56px;
  width:56px ;
  border-radius: 66px;
  object-fit: cover;
}
.commentdetail{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.limited{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lbtn{
  display: flex;
 
  gap: 30px;

}
.btn2{
  border-radius: 15px;
  padding: 10px;
  color: goldenrod;
   border: 1px solid goldenrod;
   background-color: rgba(128, 128, 128, 0.183);
   margin-bottom: 50px;
  
}
.limited h2{
  font-size: 80px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.limited p{
  margin-top: 50px;
  color: grey;
}
.btn1{
  border-radius: 15px;
  border-style: none;
  padding: 10px;
  background-color: goldenrod;
  color: black;
  margin-bottom: 50px;
}
.footer{
    background:#05050d;
    padding:70px 100px 30px;
    border-top: 1px solid goldenrod;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:60px;
}

.footer-col{
    display:flex;
    flex-direction:column;
}

.footer-col:first-child{
    width:320px;
}

.footer-col h2{
    color:#fff;
    letter-spacing:5px;
    margin-bottom:25px;
}

.footer-col h4{
    color:goldenrod;
    margin-bottom:25px;
    font-size:15px;
    letter-spacing:2px;
}

.footer-col p{
    color:gray;
    line-height:1.8;
}

.footer-col a{
    color:gray;
    text-decoration:none;
    margin-bottom:18px;
    transition:.3s;
}

.footer-col a:hover{
    color:goldenrod;
}

.socials{
    display:flex;
    gap:15px;
    margin-top:30px;
}

.socials a{
    width:42px;
    height:42px;
    border:1px solid #333;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:8px;
    color:white;
}

.socials a:hover{
    border-color:goldenrod;
    color:goldenrod;
}

.footer hr{
    margin:60px 0 30px;
    border-color:#222;
}

.footer-bottom{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    color:gray;
}

.footer-bottom p:last-child{
    color:goldenrod;
}